
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 171, 255);
    height: 4rem;
    flex-wrap: wrap;
    box-shadow: 1px 1px 8px 1px rgb(174, 174, 174);
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 27rem; */

}

nav ul li{
    list-style: none;
    /* margin:15px; */
    margin-right: 7px;
}
.left, .right{
    /* margin: 15px; */
    display: flex;
    flex-wrap: wrap;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.1s;
    position: relative;
    bottom: 0px;
}
nav ul li a:hover{
    /* text-decoration: underline; */
    color: purple;
    position: relative;
    bottom: 3px;
    transition: 0.1s;
    border-bottom: 3px solid purple;
}
.left{
    font-size: 1.5rem;
    font-weight: bolder;
}
.left a{
    text-decoration: none;
    color: purple;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
}
footer{
    /* position: fixed; */
    bottom: 0px;
    /* padding: px; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}
i{
    margin: 5px 20px;
}
.footertext{
    padding-bottom: 1rem;
}

span{
    color: purple;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
.leftsection{
    font-weight: bolder;
    font-size: 1.5rem;
}

.third {
    font-size: 1rem;
    text-align: justify;
    font-weight: 100;
    padding: 0 15px;
    /* background-color: rgb(190, 190, 190); */
    /* box-shadow: 1px 1px 8px 1px rgb(174, 174, 174); */
    /* font-weight: 700; */
    /* max-width: 40vw; */
    color:grey;
}
.first, .second{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;

}
.buttons{
    /* margin-top:15px; */
    /* margin-bottom:15px; */
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    
    /* color: blueviolet; */
}
.buttons a{
    background-color: blueviolet;
    border: 0;
    /* height: px; */
    /* width: 156px; */
    padding: 5px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.buttons a:hover{
    background-color: rgb(105, 33, 172);

}
.secondcontainer{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap-reverse; */
}

@media only screen and (max-width:741px){

    .secondcontainer{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }


}
@media only screen and (max-width:660px){

    nav{
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-direction: row;
    }


}
@media only screen and (max-width:418px){

    nav{
        height: 6rem;
    }


}

/* main{
    display: flex;
    flex-grow: 1;
} */

.heading{
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
}
.abouttext{
    text-align: justify;
}
.ending{
    margin-top: 1rem;
}